In [4]:
import pandas as pd

df_demo = pd.read_excel(
    "2021 Pew Research Typology Detailed Tables.xlsx",
    sheet_name="Demographics and lifestyle",
    skiprows=range(0,10)
)

df_demo.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,AGECAT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Age,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,18-29,19.0,8.0,13.0,12.0,21.0,18.0,40.0,14.0,19.0,34.0
3,30-49,34.0,24.0,30.0,30.0,42.0,34.0,44.0,30.0,34.0,37.0
4,50-64,25.0,34.0,25.0,30.0,22.0,31.0,12.0,28.0,24.0,14.0
5,65+,21.0,33.0,31.0,28.0,14.0,17.0,4.0,27.0,23.0,15.0
6,Refused,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
7,"Survey of U.S. adults conducted July 8-18, 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,RACETHNMOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN